HARDHAT_RPC_URL=http://127.0.0.1:8545
# Usa la primera cuenta prefunded de Hardhat en despliegues locales.
AUREO_LOCAL_DEFAULT_ACCOUNT=true
DEPLOYER_PRIVATE_KEY=
DEPLOYER_PUBLIC_ADDRESS=
HASHKEY_NETWORK=testnet
HASHKEY_RPC_URL=https://testnet.hsk.xyz
HASHKEY_WS_URL=
HASHKEY_CHAIN_ID=133
HASHKEY_EXPLORER_URL=https://testnet-explorer.hskchain.net
